NEXT_PUBLIC_API_BASE_URL=https://api.sportspassport.kr/api
NEXT_PUBLIC_KAKAO_MAP_APP_KEY=

DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_CONNECTION_LIMIT=
JWT_SECRET=
AUTH_ACCESS_TOKEN_EXPIRES_IN=
AUTH_ALLOWED_REDIRECT_URIS=
DATA_GO_KR_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
